## 1 - Introduction
This notebook is for clean the dataset downloaded from Lending Club website.

## 2 - Dataset

The dataset was download from [Lending Club](https://www.lendingclub.com/statistics/additional-statistics?). It contains information from 2015 to 2019. 

**Data manipulation**: 

    - Concatenate data from 2015 to 2019
    - Remove columns with >20% missing values
    - Save to a new csv file

In [155]:
from glob import glob
import pandas as pd

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [156]:
!ls data

Cumulative_Charge_off_Rates_and_Loss_Curves_2020_01 (1).xlsx
Cumulative_Charge_off_Rates_and_Loss_Curves_2020_01 (2).xlsx
Cumulative_Charge_off_Rates_and_Loss_Curves_2020_01.xlsx
Delinquency_Rates_2020_01.xlsx
LCDataDictionary.xlsx
LoanStats3a_securev1.csv.zip
LoanStats3b_securev1.csv.zip
LoanStats3c_securev1.csv.zip
LoanStats3d_securev1.csv.zip
LoanStats_securev1_2016Q1.csv
LoanStats_securev1_2016Q1.csv.zip
LoanStats_securev1_2016Q2.csv.zip
LoanStats_securev1_2016Q3.csv.zip
LoanStats_securev1_2016Q4.csv.zip
LoanStats_securev1_2017Q1.csv.zip
LoanStats_securev1_2017Q2.csv.zip
LoanStats_securev1_2017Q3.csv.zip
LoanStats_securev1_2017Q4.csv.zip
LoanStats_securev1_2018Q1.csv.zip
LoanStats_securev1_2018Q2.csv.zip
LoanStats_securev1_2018Q3.csv.zip
LoanStats_securev1_2018Q4.csv.zip
LoanStats_securev1_2019Q1.csv.zip
LoanStats_securev1_2019Q2.csv.zip
LoanStats_securev1_2019Q3.csv.zip
LoanStats_securev1_2019Q4.csv.zip
Monthly_Data_Snapshot_2020_01.pdf
Prepayment_Rates_2020_01.xlsx
data_2015_2019.csv

In [121]:
# load 2015
lc2015 = './data/LoanStats3d_securev1.csv.zip'
df_2015 = pd.read_csv(lc2015, sep=',',low_memory=True, skiprows=1)
df_2015['year'] = 2015

In [122]:
df_2015.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,year
0,68367011,NaN,21000.0,21000.0,21000.0,60 months,13.99%,488.53,C,C4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2015
1,68537655,NaN,16800.0,16800.0,16800.0,60 months,12.88%,381.23,C,C2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2015
2,68356421,NaN,22400.0,22400.0,22400.0,60 months,12.88%,508.30,C,C2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2015
3,68466926,NaN,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2015
4,68616873,NaN,8000.0,8000.0,8000.0,36 months,11.48%,263.74,B,B5,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2015

In [123]:
def read_file(year):
    '''
    import zip files(Q1-Q4) in each year
    remove first row; add year column
    return a pd dataframe for each year
    '''
    filename = glob('./data/LoanStats_securev1_'+str(year)+'*.csv.zip')
    dataframe = pd.concat([pd.read_csv(f,low_memory=True, skiprows=1) for f in filename], \
                    ignore_index=True)
    dataframe['year'] = year
    return dataframe

In [124]:
# combining multiple dataframe (2015-2019)
df_all = pd.concat(objs=[df_2015, read_file(2016), read_file(2017),\
                               read_file(2018), read_file(2019)], axis=0)

In [125]:
df_all.shape

(2312464, 151)

In [127]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2312464 entries, 0 to 518114
Columns: 151 entries, id to year
dtypes: float64(111), int64(1), object(39)
memory usage: 2.6+ GB

In [126]:
df_all.sample(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,year
266109,113131456,NaN,1800.0,1800.0,1800.0,36 months,14.08%,61.59,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2017
94735,145730126,NaN,5000.0,5000.0,5000.0,36 months,25.34%,199.70,E,E3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2019
338747,137229296,NaN,5000.0,5000.0,5000.0,36 months,15.02%,173.38,C,C3,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2018
62140,147423783,NaN,10000.0,10000.0,10000.0,36 months,8.19%,314.25,A,A4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2019
418028,162902139,NaN,5950.0,5950.0,5950.0,36 months,8.19%,186.98,A,A4,...,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,2019

Deal with missing value

In [134]:
# check missing values
df_missing = df_all.isnull().sum()/len(df_all)

In [157]:
# list column name with >20% missing values 
df_missing = df_missing.sort_values(ascending=False)
display(df_missing.head(20))
list_col_del = list(df_missing[df_missing > 0.2].index)
print('columns with > 20% missing values:')
print('----------------------------')
print(list_col_del)

member_id                                     1.000000
desc                                          0.999971
orig_projected_additional_accrued_interest    0.995353
hardship_start_date                           0.994085
hardship_end_date                             0.994085
hardship_loan_status                          0.994085
hardship_last_payment_amount                  0.994085
hardship_payoff_balance_amount                0.994085
hardship_status                               0.994085
hardship_length                               0.994085
hardship_amount                               0.994085
deferral_term                                 0.994085
hardship_reason                               0.994085
hardship_type                                 0.994085
hardship_dpd                                  0.994085
payment_plan_start_date                       0.994085
settlement_percentage                         0.981976
settlement_term                               0.981976
settlement_amount                             0.981976
debt_settlement_flag_date                     0.981976
dtype: float64

columns with > 20% missing values:
----------------------------
['member_id', 'desc', 'orig_projected_additional_accrued_interest', 'hardship_start_date', 'hardship_end_date', 'hardship_loan_status', 'hardship_last_payment_amount', 'hardship_payoff_balance_amount', 'hardship_status', 'hardship_length', 'hardship_amount', 'deferral_term', 'hardship_reason', 'hardship_type', 'hardship_dpd', 'payment_plan_start_date', 'settlement_percentage', 'settlement_term', 'settlement_amount', 'debt_settlement_flag_date', 'settlement_date', 'settlement_status', 'sec_app_mths_since_last_major_derog', 'sec_app_revol_util', 'verification_status_joint', 'revol_bal_joint', 'sec_app_earliest_cr_line', 'sec_app_fico_range_high', 'sec_app_fico_range_low', 'sec_app_collections_12_mths_ex_med', 'sec_app_chargeoff_within_12_mths', 'sec_app_num_rev_accts', 'sec_app_open_act_il', 'sec_app_open_acc', 'sec_app_mort_acc', 'sec_app_inq_last_6mths', 'dti_joint', 'annual_inc_joint', 'mths_since_last_record', 'mths_since_recent_bc_dlq', 'mths_since_last_major_derog', 'mths_since_recent_revol_delinq', 'next_pymnt_d', 'mths_since_last_delinq', 'il_util']

In [149]:
# remove the columns with >20% missing values
df_all.drop(labels =list_col_del, axis='columns', inplace=True)

# save to local disk
df_all.to_csv('./data/data_2015_2019.csv', index=False)

df_all.head()

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,year
0,68367011,21000.0,21000.0,21000.0,60 months,13.99%,488.53,C,C4,Resident physician,...,75.0,0.0,0.0,370357.0,372407.0,23300.0,347057.0,N,N,2015
1,68537655,16800.0,16800.0,16800.0,60 months,12.88%,381.23,C,C2,CEO,...,25.0,0.0,0.0,412771.0,75808.0,12600.0,115941.0,N,N,2015
2,68356421,22400.0,22400.0,22400.0,60 months,12.88%,508.30,C,C2,Executive Director,...,25.0,0.0,0.0,436841.0,184356.0,21000.0,191682.0,N,N,2015
3,68466926,10000.0,10000.0,10000.0,36 months,6.49%,306.45,A,A2,SERVICE MANAGER,...,28.6,1.0,0.0,61099.0,27957.0,16400.0,30799.0,N,N,2015
4,68616873,8000.0,8000.0,8000.0,36 months,11.48%,263.74,B,B5,Vendor liaison,...,33.3,0.0,0.0,256513.0,113782.0,17000.0,135513.0,N,N,2015

In [150]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2312464 entries, 0 to 518114
Columns: 106 entries, id to year
dtypes: float64(80), int64(1), object(25)
memory usage: 1.9+ GB

In [162]:
df_all['year'].value_counts(dropna=False)

2019    518115
2018    495250
2017    443587
2016    434415
2015    421097
Name: year, dtype: int64

In [163]:
df_all['term'].value_counts(normalize=True, dropna=False)

 36 months    0.701058
 60 months    0.298927
NaN           0.000015
Name: term, dtype: float64

In [164]:
df_all['loan_status'].value_counts(dropna=False)

Current               1018979
Fully Paid             995328
Charged Off            259485
Late (31-120 days)      22853
In Grace Period         10848
Late (16-30 days)        4683
Issued                    206
Default                    48
NaN                        34
Name: loan_status, dtype: int64

In [153]:
(df_all.isnull().sum()/len(df_all)).sort_values(ascending=False).head(30)

mths_since_rcnt_il       0.197933
all_util                 0.173042
open_acc_6m              0.172897
total_cu_tl              0.172897
inq_last_12m             0.172897
open_act_il              0.172897
max_bal_bc               0.172897
open_rv_24m              0.172897
open_rv_12m              0.172897
total_bal_il             0.172897
open_il_24m              0.172897
open_il_12m              0.172897
inq_fi                   0.172897
mths_since_recent_inq    0.114854
emp_title                0.093810
emp_length               0.074455
num_tl_120dpd_2m         0.035635
mo_sin_old_il_acct       0.030109
bc_util                  0.012270
percent_bc_gt_75         0.011934
bc_open_to_buy           0.011777
mths_since_recent_bc     0.011139
title                    0.010093
last_pymnt_d             0.001433
dti                      0.001250
revol_util               0.000938
avg_cur_bal              0.000054
last_credit_pull_d       0.000030
pct_tl_nvr_dlq           0.000016
inq_last_6mths           0.000015
dtype: float64