##  Library 
test

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30


from IPython import get_ipython
ipython = get_ipython()

# autoreload extension
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload

%autoreload 2

# Visualizations
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from datetime import datetime
import time
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

### Import data

In [2]:
# read data
start = time.time()
path = '/Users/cyuancheng/Documents/course/Springboard/Capstone1/data/'
df = pd.read_csv(path+'data_eda.csv', low_memory=False, index_col=0, \
                 parse_dates=['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d'] )
end = time.time()
print('It takes  ' + str(round((end-start)/60, 1)) +' min to read the data')

It takes  1.2 min to read the data

In [3]:
df.head()

,issue_d,earliest_cr_line,last_pymnt_d,last_credit_pull_d,int_rate,revol_util,loan_status,home_ownership,sub_grade,debt_settlement_flag,grade,application_type,purpose,initial_list_status,hardship_flag,title,emp_length,pymnt_plan,verification_status,addr_state,term,loan_amnt,funded_amnt,funded_amnt_inv,int_rate.1,...,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,loan_period,target,region,fico,emp_length_num
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
10224583,2013-12-01,2001-06-01,2016-02-01,2018-06-01,14.98,66.2,Fully Paid,MORTGAGE,C3,N,C,Individual,other,f,N,Other,10+ years,n,Not Verified,NY,36 months,11100.0,11100.0,11100.0,14.98,...,8.0,4.0,4.0,0.0,8.0,11.0,8.0,9.0,0.0,0.0,1.0,1.0,75.0,50.0,0.0,0.0,385000.0,6619.0,4000.0,0.0,26.021068,0,northeast,692.0,10.0
10148122,2013-12-01,2003-09-01,2016-06-01,2020-01-01,7.62,55.7,Fully Paid,MORTGAGE,A3,N,A,Individual,debt_consolidation,f,N,Debt Consolidation and Credit Transfer,3 years,n,Not Verified,TX,36 months,12000.0,12000.0,12000.0,7.62,...,5.0,4.0,10.0,15.0,8.0,14.0,5.0,17.0,0.0,0.0,0.0,3.0,100.0,100.0,0.0,0.0,233004.0,46738.0,14800.0,53404.0,29.996509,0,south,707.0,3.0
10149342,2013-12-01,1986-10-01,2016-07-01,2018-03-01,10.99,61.2,Fully Paid,OWN,B2,N,B,Individual,debt_consolidation,w,N,Debt Consolidation,10+ years,n,Verified,MI,36 months,27050.0,27050.0,27050.0,10.99,...,4.0,4.0,8.0,8.0,10.0,15.0,4.0,14.0,0.0,0.0,0.0,1.0,100.0,25.0,0.0,0.0,138554.0,70186.0,35700.0,33054.0,30.982156,0,midwest,732.0,10.0
10129454,2013-12-01,2009-12-01,2016-04-01,2018-08-01,10.99,24.0,Fully Paid,RENT,B2,N,B,Individual,debt_consolidation,f,N,No Regrets,4 years,n,Not Verified,NC,36 months,12000.0,12000.0,12000.0,10.99,...,7.0,8.0,10.0,0.0,15.0,18.0,7.0,15.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,29700.0,7137.0,18100.0,0.0,27.992361,0,south,722.0,4.0
10149488,2013-12-01,1995-08-01,2014-09-01,2017-01-01,10.99,16.1,Fully Paid,MORTGAGE,B2,N,B,Individual,home_improvement,w,N,For The House,2 years,n,Source Verified,TX,36 months,4800.0,4800.0,4800.0,10.99,...,2.0,3.0,4.0,1.0,3.0,7.0,2.0,3.0,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,25700.0,4136.0,25700.0,0.0,9.002238,0,south,757.0,2.0

In [4]:
df_time = df[['issue_d','loan_status','term','loan_amnt']]
df_time.set_index('issue_d',inplace=True)

In [5]:
df.columns

Index(['issue_d', 'earliest_cr_line', 'last_pymnt_d', 'last_credit_pull_d',
       'int_rate', 'revol_util', 'loan_status', 'home_ownership', 'sub_grade',
       'debt_settlement_flag', 'grade', 'application_type', 'purpose',
       'initial_list_status', 'hardship_flag', 'title', 'emp_length',
       'pymnt_plan', 'verification_status', 'addr_state', 'term', 'loan_amnt',
       'funded_amnt', 'funded_amnt_inv', 'int_rate.1', 'installment',
       'annual_inc', 'dti', 'delinq_2yrs', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util.1',
       'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq',
       'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'loan_period', 'target', 'region', 'fico',
       'emp_length_num'],
      dtype='object')

## Hypothesis test: 

### there is a difference between low and high income

Compare the default rate of borrowers with income below median income (low income) vs borrowers with income above median income (high income).

In [27]:
# median income for entire population
median_inc = df['annual_inc'].median()
# high income vs low income
inc_above = df[df['annual_inc'] > median_inc]['target']
inc_below = df[df['annual_inc'] <= median_inc]['target']

In [26]:
print('default rate for high income borrower =', round(sum(inc_above)/len(inc_above),2))
print('default rate for low income borrower =', round(sum(inc_below)/len(inc_below),2))

default rate for high income borrower = 0.18
default rate for low income borrower = 0.22

In [30]:
def two_sided_ztest(data1, data2, value):
    ztest ,pval = stests.ztest(x1=data1, x2=data2 , value=value, alternative='two-sided')
    print('p value =', pval)
    if pval<0.05:
        print("reject null hypothesis")
    else:
        print("accept null hypothesis")

Hypothesis test:
- Null Hypothesis: The default rates for low income borrower and high income borrower are the same
- Alternative Hypothesis: The default rate for low income borrower is higher than that of high income borrower

In [31]:
two_sided_ztest(inc_below, inc_above,0)

p value = 0.0
reject null hypothesis

- Null hypothesis is rejected
- The borrowers with income below median income are more likely to default on a loan.

### Is default rate equal for different purpose of loan request?

In [35]:
df_purpose = df[['purpose','target']]#.value_counts(normalize=True)

In [52]:
df_purpose_1 = pd.DataFrame(df_purpose.groupby('purpose')['target'].sum()/df_purpose.groupby('purpose')['target'].count())#.plot.bar()

In [67]:
df_purpose_1=df_purpose_1.sort_values(by='target', ascending=False)

In [68]:
df_purpose_1

                      target
purpose
small_business      0.291036
house               0.229425
moving              0.227656
renewable_energy    0.215834
medical             0.209565
debt_consolidation  0.208480
other               0.204024
major_purchase      0.190549
vacation            0.183312
home_improvement    0.174434
credit_card         0.169490
car                 0.147752
wedding             0.131893
educational         0.000000

In [77]:
df_purpose_1.rename(columns={'target':'default_rate'}, inplace=True)
df_purpose_1

                    default_rate
purpose
small_business          0.291036
house                   0.229425
moving                  0.227656
renewable_energy        0.215834
medical                 0.209565
debt_consolidation      0.208480
other                   0.204024
major_purchase          0.190549
vacation                0.183312
home_improvement        0.174434
credit_card             0.169490
car                     0.147752
wedding                 0.131893
educational             0.000000